#acountsListButtonContainer {
  padding: 10px;
}

#newAccountId, #newAccountBalance {
  margin-right: 10px;
}

.accounts-list {
  text-align:left;
  background-color: #ffffff;
  box-shadow: 1px 3px 3px 0 rgba(131, 131, 131, 0.2);
  border-radius: 15px;
  padding: 10px;
  margin-top: 40px;
}

.accounts-list .list {
  max-height: 300px;
  overflow-y: auto;
  padding: 20px;
}

.accounts-list .item {
  display: flex;
  font-size: x-large;
  line-height: 50px;
  border-bottom: 1px solid #ddd;
  margin-top: 30px;
}

.accounts-list .item > * {
  margin: .5em
}

#delete-account-button {
  height: 40px;
}
