
.category-list .category {
  font-size: 18px;
  margin: 10px;
}

.category-list-header {
  display: grid;
  grid-template-columns: 1fr 50px;
}

.category {
  display: flex;
}

.create-category-button {
  margin: auto;
}

.delete-category-button {
  margin: auto;
}

.category-name {
  flex-grow: 1;
}

.category-balance {
  margin: 0.5em;
}
