#transaction-container {
  background-color: #ffffff;
  box-shadow: 1px 3px 3px 0 rgba(131, 131, 131, 0.2);
  border-radius: 15px;
  margin-top: 40px;
  padding: 10px;
  padding-bottom: 30px;
}

.transaction {
  border-radius: 15px;
  margin: 5px;
  padding: 15px;
  background-color: #e4f6f8;
}

.transaction-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
}

.transaction-details {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.transaction-left {
  text-align: left;
}

.transaction-right {
  text-align: right;
}

.amount {
  font-size: 20px;
}

.account {
  font-size: 12px;
}

.expense {
  color: var(--color-expense);
}

.memo {
  font-size: 20px;
}

.category {
  font-size: 12px;
}

.income {
  color: var(--color-income);
}

.schedule-details {
  font-size: 12px;
  text-align: center;
}

.transaction-list-header {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-bottom: 30px;
}

#schedule-transaction-button {
  margin: auto;
  height: 40px;
}

#delete-transaction-button {
  height: 25px;
  width: 45px;
  float: right;
  margin-bottom: 5px;
}
