html {
  --color-income: green;
  --color-expense: red;
}

.App {
  padding: 2em;
  background-color: #efefef;
}

#logo {
  text-align: center;
  padding-bottom: 32px;
}

@media (max-width: 640px) {
  #imgLogo {
    width: 200px;
  }
}